@charset "UTF-8";
@import "tab.css";
@import "vendors/aos.css";
@import "vendors/swiper.css";
@import "vendors/slick.css";
@import "vendors/jquery.fullpage.css";
@import "../../../cdn.linearicons.com/free/1.0.0/icon-font.min.css";

.blind,
.hide {
  position: absolute !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  overflow: hidden;
}

@font-face {
  font-family: "NotoSansKR";
  font-weight: 200;
  src: url("../fonts/NotoSansKR-Thin.eot");
  src: url("../fonts/NotoSansKR-Thind41d.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Thin.woff2") format("woff2"), url("../fonts/NotoSansKR-Thin.woff") format("woff"), url("../fonts/NotoSansKR-Thin.otf") format("opentype");
}

@font-face {
  font-family: "NotoSansKR";
  font-weight: 300;
  src: url("../fonts/NotoSansKR-Light.eot");
  src: url("../fonts/NotoSansKR-Lightd41d.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Light.woff2") format("woff2"), url("../fonts/NotoSansKR-Light.woff") format("woff"), url("../fonts/NotoSansKR-Light.otf") format("opentype");
}

/*normal*/
@font-face {
  font-family: "NotoSansKR";
  font-weight: 400;
  src: url("../fonts/NotoSansKR-Regular.eot");
  src: url("../fonts/NotoSansKR-Regulard41d.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Regular.woff2") format("woff2"), url("../fonts/NotoSansKR-Regular.woff") format("woff"), url("../fonts/NotoSansKR-Regular.otf") format("opentype");
}

@font-face {
  font-family: "NotoSansKR";
  font-weight: 600;
  src: url("../fonts/NotoSansKR-Medium.eot");
  src: url("../fonts/NotoSansKR-Mediumd41d.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Medium.woff2") format("woff2"), url("../fonts/NotoSansKR-Medium.woff") format("woff"), url("../fonts/NotoSansKR-Medium.otf") format("opentype");
}

/*bold*/
@font-face {
  font-family: "NotoSansKR";
  font-weight: 700;
  src: url("../fonts/NotoSansKR-Bold.eot");
  src: url("../fonts/NotoSansKR-Boldd41d.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Bold.woff2") format("woff2"), url("../fonts/NotoSansKR-Bold.woff") format("woff"), url("../fonts/NotoSansKR-Bold.otf") format("opentype");
}

@font-face {
  font-family: "NotoSansKR";
  font-weight: 800;
  src: url("../fonts/NotoSansKR-Black.eot");
  src: url("../fonts/NotoSansKR-Blackd41d.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Black.woff2") format("woff2"), url("../fonts/NotoSansKR-Black.woff") format("woff"), url("../fonts/NotoSansKR-Black.otf") format("opentype");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Lightd41d.eot#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBoldd41d.eot#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Mediumd41d.eot#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "TrajanPro";
  src: url("../fonts/TrajanPro-Bold.eot");
  src: url("../fonts/TrajanPro-Boldd41d.eot#iefix") format("embedded-opentype"), url("../fonts/TrajanPro-Bold.woff2") format("woff2"), url("../fonts/TrajanPro-Bold.woff") format("woff");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "TrajanPro";
  src: url("../fonts/TrajanPro-Regular.eot");
  src: url("../fonts/TrajanPro-Regulard41d.eot#iefix") format("embedded-opentype"), url("../fonts/TrajanPro-Regular.woff2") format("woff2"), url("../fonts/TrajanPro-Regular.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

*,
body {
  font-family: "NotoSansKR", sans-serif, "Malgun Gothic", "맑은 고딕", AppleSDGothicNeo, -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

@media all and (max-width: 910px) {
  html {
    font-size: 14px;
  }
}

a,
a:hover,
a:focus,
a:active,
a:link {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
}

button:focus {
  outline: none;
}

strong,
b {
  color: inherit;
  font-size: inherit;
}

i,
em {
  font-style: normal;
}

mark {
  color: inherit;
  background: none;
}

button {
  -webkit-appearance: none;
}

input {
  -webkit-border-radius: 0;
}

input:matches([type=password], [type=search]),
input[type=text],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

table {
  border-collapse: collapse;
}

.apply-content .table {
  width: 100%;
  color: #dcdcdc;
}

.apply-content .table-area {
  overflow-y: scroll;
  border: 1px solid #dcdcdc;
}

.apply-content .table th {
  padding: 10px 20px;
  border-bottom: 1px solid #dcdcdc;
  color: #222;
  font-weight: 600;
  text-align: center;
}

.apply-content .table th:first-child {
  border-right: 1px solid #dcdcdc;
}

.apply-content .table td {
  text-align: center;
  border-bottom: 1px solid #dcdcdc;
  padding: 8px;
  color: #222;
}

.apply-content .input-table {
  width: 100%;
  border-top: 2px solid #dcdcdc;
}

.apply-content .input-table th {
  text-align: left;
  width: 20%;
  font-weight: normal;
  background: #f7f7f7;
  padding: 20px 20px;
  border-bottom: 1px solid #ccc;
  color: #dcdcdc;
}

.apply-content .input-table td {
  width: 80%;
  padding: 15px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

.apply-content .input-table.wide--th th {
  width: 30%;
}

.apply-content .input-table.wide--th td {
  width: 70%;
}

.apply-content .input-table__example {
  font-size: 14px;
}

.apply-content-button {
  width: 200px;
  height: 50px;
  background: #001236;
  font-size: 16px;
  color: #ffffff;
}

.apply-content-button-area {
  text-align: center;
  margin: 40px 0 70px;
}

.apply-content-button-cancel {
  background: #666;
}

.apply-content__title {
  font-size: 18px;
  color: #dcdcdc;
  font-weight: normal;
  padding-bottom: 10px;
}

.button {
  padding: 10px;
}

.right-content {
  position: fixed;
  width: 5.2vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  right: 0;
  top: 0;
  z-index: 200;
  background-image: url("../images/common/right-logo.png"), url("../images/common/right-bg.png");
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-position: 50% 140px, 0 0;
  padding-top: 60px;
}

.right-content.last .right-content-scroll {
  display: none;
}

.right-content-scroll {
  width: 2.5vw;
  max-width: 48px;
  text-align: center;
  align-items: center;
  position: absolute;
  left: calc(50% - 1.25vw);
  bottom: 0;
}

.right-content-scroll .scroll__text {
  font-family: "Montserrat", "NotoSansKR", sans-serif, "Malgun Gothic", "맑은 고딕";
  font-size: 11px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 10px;
}

.right-content-scroll .scroll__line {
  width: 1px;
  height: 77px;
  position: relative;
  margin: 0 auto;
}

.right-content-scroll .scroll__line:before,
.right-content-scroll .scroll__line:after {
  content: "";
  width: 1px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  left: 50%;
  margin-left: -0.5px;
  bottom: 0;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.right-content-scroll .scroll__line:after {
  will-change: transform;
  width: 1px;
  background: #ffffff;
  animation-name: scroll-down;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.75, 0, 0.173, 1);
}

@-webkit-keyframes scroll-down {
  0% {
    transform-origin: 50% 100%;
    transform: scaleY(1);
  }

  50% {
    transform-origin: 50% 100%;
    transform: scaleY(0);
  }

  50.001% {
    transform-origin: 50% 0;
    transform: scaleY(0);
  }

  to {
    transform-origin: 50% 0;
    transform: scaleY(1);
  }
}

@keyframes scroll-down {
  0% {
    transform-origin: 50% 100%;
    transform: scaleY(1);
  }

  50% {
    transform-origin: 50% 100%;
    transform: scaleY(0);
  }

  50.001% {
    transform-origin: 50% 0;
    transform: scaleY(0);
  }

  to {
    transform-origin: 50% 0;
    transform: scaleY(1);
  }
}

.sub .right-content {
  position: absolute;
  height: 510px;
}

.sub .right-content .right-content-scroll {
  display: none;
}

html {
  -webkit-font-smoothing: antialiased;
}

.layout {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.layout::after {
  content: "";
  display: block;
  clear: both;
}

.layout.is--content-center {
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .layout {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 990px) {
  .layout {
    padding-left: 0;
    padding-right: 0;
  }
}

img {
  max-width: 100%;
}

@media screen and (min-width: 991px) {
  .is--mobile {
    display: none !important;
  }
}

@media screen and (max-width: 990px) {
  .is--pc {
    display: none !important;
  }
}

.img-circle {
  vertical-align: baseline;
}

[data-aos][data-aos][data-aos-delay="3200"].aos-animate,
body[data-aos-delay="3200"] [data-aos].aos-animate {
  transition-delay: 3.2s;
}

[data-aos][data-aos][data-aos-delay="3400"].aos-animate,
body[data-aos-delay="3400"] [data-aos].aos-animate {
  transition-delay: 3.4s;
}

[data-aos][data-aos][data-aos-delay="3600"].aos-animate,
body[data-aos-delay="3600"] [data-aos].aos-animate {
  transition-delay: 3.6s;
}

[data-aos][data-aos][data-aos-delay="4200"].aos-animate,
body[data-aos-delay="4200"] [data-aos].aos-animate {
  transition-delay: 4.2s;
}

body.is--overflow-hidden {
  overflow-y: hidden;
}

.color--red {
  color: red;
}

.text-effect {
  overflow: hidden;
}

.text-effect-content {
  display: inline-block;
  transform: translateY(100%);
  transition: transform 0.8s 0.5s ease-out;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 100;
  padding: 35px 7.55% 0 4.16%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  transition: height 0.4s, background-color 0.4s;
}

.header:after {
  opacity: 0;
  content: "";
  width: 100%;
  height: 0;
  min-height: 0;
  border-top: 1px solid #f4f4f4;
  background: #ffffff;
  position: absolute;
  top: 136px;
  left: 0;
  transition-property: opacity, min-height;
  transition-timing-function: ease-in-out;
  transition-duration: 0.4s;
}

.header-logo {
  width: 159px;
  height: 85px;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-image: url("../images/common/logo.png");
  flex: none;
  transition: background-image 0.4s;
}

.header-logo__link {
  display: block;
  height: 100%;
}

.header-menu {
  padding-top: 18px;
  text-align: center;
  z-index: 11;
}

.header-menu .header-menu__item-wide .header-menu-depth {
  width: 220%;
  left: -58%;
}

.header-menu-list {
  display: flex;
}

.header-menu__item {
  padding: 0 38px 58px;
  position: relative;
}

@media screen and (max-width: 1800px) {
  .header-menu__item {
    padding: 0 2vw 58px;
  }
}

.header-menu__item:last-child:after {
  content: "";
  background: transparent;
  height: 0;
  width: 1px;
  position: absolute;
  top: 66px;
  right: 0;
  transition-property: background-color, height;
  transition-timing-function: ease-in-out;
  transition-duration: 0s;
  transition-delay: 0s;
}

.header-menu .header-menu__link {
  font-size: 17px;
  letter-spacing: -0.5px;
  color: #244373;
  box-sizing: border-box;
  position: relative;
  font-weight: 500;
  transition: color 0.4s;
}

.header-menu .header-menu__link:hover {
  font-weight: 600;
}

.header-menu .header-menu__link:after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background: #244373;
  left: 0;
  bottom: -60px;
  -webkit-transition: all 0.5s ease 0.1s;
  -moz-transition: all 0.5s ease 0.1s;
  -o-transition: all 0.5s ease 0.1s;
  transition: all 0.5s ease 0.1s;
}

.header-menu .header-menu-depth {
  position: absolute;
  width: 165px;
  left: calc(50% - 82.5px);
  top: 80px;
  height: 0;
  opacity: 0;
  transition-property: opacity, height;
  transition-timing-function: ease-in-out;
  transition-duration: 0.8s;
  box-sizing: border-box;
}

.header-menu .header-menu-depth__link {
  display: block;
  color: #244373;
  letter-spacing: -0.5px;
  font-size: 0;
  opacity: 0;
  height: 0;
  padding: 0;
  transition-property: opacity, height;
  transition-timing-function: ease-in-out;
  transition-duration: 0.8s;
}

.header-menu .header-menu-depth__link:hover {
  color: #1e2a5f;
}

.header-tel {
  transition: background-image 0.4s;
  flex: none;
  margin-top: 21px;
  width: 177px;
  height: 26px;
  background-repeat: no-repeat;
  background-image: url("../images/common/header-tel-white.png");
}

.header.white .header-logo {
  background-image: url("../images/common/logo-white.png");
}

.header.white .header-tel {
  background-image: url("../images/common/header-tel-white.png");
}

.header.white .header-menu .header-menu__link {
  color: #ffffff;
}

.header.is--show-depth {
  z-index: 300;
  background: #ffffff;
}

.header.is--show-depth:after {
  min-height: 340px;
  opacity: 1;
  height: auto;
  background-color: #fff;
}

.header.is--show-depth .header-menu__item .header-menu__link {
  color: #244373;
}

.header.is--show-depth .header-menu__item:hover .header-menu__link:after {
  width: 100%;
}

.header.is--show-depth .header-menu-depth {
  padding-top: 40px;
  height: auto;
  opacity: 1;
}

.header.is--show-depth .header-menu-depth__link {
  padding: 5px 0;
  font-size: 16px;
  height: auto;
  opacity: 1;
}

.header.is--show-depth .header-logo {
  background-image: url("../images/common/logo.png");
}

.header.is--show-depth .header-tel {
  background-image: url("../images/common/header-tel.png");
}

.footer {
  width: 100%;
  height: 145px;
  background: #f2f2f2;
  color: #222;
  box-sizing: border-box;
  padding: 0 5.2vw 0 5.2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-right {
  margin-top: 30px;
}

.footer-text {
  margin-left: 5.2vw;
}

.footer-text__item {
  font-size: 14px;
  letter-spacing: -0.5px;
  margin-top: 2px;
  display: flex;
  align-items: center;
}

.footer-text__item b {
  font-weight: 600;
}

.footer-text__item.small {
  color: #666666;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: -0.4px;
  margin-top: 10px;
}

.footer-text__item.color--point {
  color: #244373;
}

.footer-text__item.color--point .footer-separator {
  background-color: #1e2a5f;
}

.footer-text__item:first-child {
  margin-top: 0;
}

.footer-text__item-copyright {
  font-size: 12px;
  color: rgba(153, 153, 153, 0.8);
  text-transform: uppercase;
}

.footer-copyright {
  font-size: 12px;
  letter-spacing: -1px;
  color: #999999;
  text-transform: uppercase;
  margin-top: 14px;
}

.footer-separator {
  width: 1px;
  height: 13px;
  display: inline-block;
  background-color: #222;
  margin: 0 8px;
}

#fp-nav.right {
  margin-top: 0;
  right: 2.1vw;
  z-index: 250;
}

#fp-nav.right ul {
  margin-left: 3px;
}

#fp-nav.right ul li {
  height: 60px;
  margin: 0;
  margin-bottom: 6px;
}

#fp-nav.right ul li:last-child {
  display: none;
}

#fp-nav.right ul li:hover a.active span {
  width: 1px;
  top: 0;
  height: 100%;
  margin: 0;
  border-radius: 0;
}

#fp-nav.right ul li:hover a span {
  background: #ffffff;
}

#fp-nav.right ul li:hover .fp-tooltip {
  color: #244373;
}

#fp-nav.right ul li:first-child .fp-tooltip {
  left: 8px;
}

#fp-nav.right ul li .fp-tooltip {
  opacity: 1;
  width: auto;
  color: #b2b2b2;
  font-family: "Montserrat", "NotoSansKR", sans-serif, "Malgun Gothic", "맑은 고딕";
  font-size: 14px;
  letter-spacing: -0.25px;
  transform: rotate(90deg);
  left: -5px;
  top: 28px;
}

#fp-nav.right ul li a span {
  width: 1px;
  top: 0;
  height: 100%;
  margin: 0;
  border-radius: 0;
  background: #ffffff;
  opacity: 0.3;
}

#fp-nav.right ul li a.active {
  height: 100%;
  width: 100%;
  border-radius: 0;
}

#fp-nav.right ul li a.active span {
  width: 2px;
  opacity: 1;
  background: #ffffff;
}

#fp-nav.right .fp-nav-number {
  color: #ffffff;
  letter-spacing: -0.4px;
  font-family: "Montserrat", "NotoSansKR", sans-serif, "Malgun Gothic", "맑은 고딕";
  display: block;
}

#fp-nav.right .fp-nav-number-current {
  margin-bottom: 4px;
}

#fp-nav.right .fp-nav-number-total {
  margin-top: 4px;
}

.main-section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.main-section-visual {
  height: 100vh;
  position: relative;
}

.main-section-visual .visual-pattern {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  width: 30vw;
  height: 32vw;
  background-size: contain;
  background-image: url("../images/main/pattern.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.main-section-visual .visual-pagination {
  margin: 35px 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 4.16vw;
  bottom: 1.4vw;
  z-index: 11;
}

.main-section-visual .visual-pagination__number {
  font-family: "Montserrat", "NotoSansKR", sans-serif, "Malgun Gothic", "맑은 고딕";
  font-size: 12px;
  letter-spacing: -0.4px;
  color: #ffffff;
}

.main-section-visual .visual-pagination__item {
  width: 30px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.main-section-visual .visual-pagination__item .circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: #ffffff;
}

.main-section-visual .visual-pagination__item .point {
  fill: #ffffff;
}

.main-section-visual .visual-pagination__item .bar {
  animation-play-state: paused;
}

.main-section-visual .visual-pagination__item.is--active {
  background-color: transparent;
}

.main-section-visual .visual-pagination__item.is--active .circle-progress {
  display: block;
}

.main-section-visual .visual-pagination__item.is--active .circle-progress .bar {
  stroke-dashoffset: 113;
  animation: dash 5s linear forwards;
  animation-play-state: running;
  stroke: rgba(255, 255, 255, 0.2);
}

.main-section-visual .visual-pagination__item.is--active .circle-progress .frame {
  stroke: rgba(255, 255, 255, 0.2);
}

.main-section-visual .visual-pagination__item.is--active .circle-progress .bar {
  stroke: rgba(255, 255, 255, 0.2);
  stroke-linecap: round;
  stroke-dasharray: 113;
}

.main-section-visual .visual-pagination .circle-progress {
  transform: rotate(-90deg);
}

.main-section-visual .visual-pagination .frame {
  stroke: rgba(255, 255, 255, 0.2);
}

.main-section-visual .visual-pagination .bar {
  stroke: rgba(255, 255, 255, 0.2);
  stroke-linecap: round;
  stroke-dasharray: 113;
}

.main-section-visual .visual-pagination .frame,
.main-section-visual .visual-pagination .bar {
  fill: none;
  stroke: none;
}

@keyframes dash {
  to {
    stroke: #ffffff;
    stroke-dashoffset: 0;
  }
}

.main-section-visual .main-visual {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.main-section-visual .main-visual-swiper-slide {
  overflow: hidden;
}

.main-section-visual .main-visual-swiper-slide .main-slide-bg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  -webkit-transform: scale(1.2, 1.2) rotate(0.002deg);
  transform: scale(1.2, 1.2) rotate(0.002deg);
  -webkit-transition: transform 4000ms ease-in-out;
  -moz-transition: transform 4000ms ease-in-out;
  -o-transition: transform 4000ms ease-in-out;
  transition: transform 4000ms ease-in-out;
}

.main-section-visual .main-visual-swiper-slide .main-slide-text {
  position: absolute;
  left: 19.2vw;
  top: 0;
  padding-top: 24.74vh;
  width: 100%;
  box-sizing: border-box;
  color: #ffffff;
  z-index: 15;
}

.main-section-visual .main-visual-swiper-slide .main-slide-text .main-copyright {
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 2s;
  transition-delay: 1s;
}

.main-section-visual .main-visual-swiper-slide .main-slide-text .main-copyright--impact {
  color: #244373;
  font-weight: 600;
}

.main-section-visual .main-visual-swiper-slide1 .main-slide-bg {
  background-image: url("../images/main/visual1-img.jpg");
}

.main-section-visual .main-visual-swiper-slide2 .main-slide-bg {
  background-image: url("../images/main/visual2-img.jpg");
}

.main-section-visual .main-visual-swiper-slide.swiper-slide-active .main-slide-bg {
  -webkit-transform: scale(1.01, 1.01) rotate(0.002deg);
  transform: scale(1.01, 1.01) rotate(0.002deg);
}

.main-section-visual .main-visual-swiper-slide.swiper-slide-active .main-slide-text .main-copyright,
.main-section-visual .main-visual-swiper-slide.swiper-slide-active .main-slide-text .main-slide-text--sub {
  opacity: 1;
  transform: translateZ(0);
}

.main-section-visual .swiper-number-area {
  position: absolute;
  width: 157px;
  top: -23px;
  z-index: 1;
  display: flex;
}

.main-section-visual .swiper-label__number {
  font-size: 14px;
  line-height: 1.43;
  color: #ffffff;
  opacity: 0;
  width: 50%;
  display: block;
  text-align: center;
}

.main-section-visual .swiper-label__number.is--active {
  opacity: 1;
}

.main-section-visual .swiper-button-area .swiper-pagination-progressbar {
  width: 157px;
  opacity: 1;
  background: #ffffff;
}

.main-section-visual .swiper-button-area .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #244373;
}

.main-section-visual .main-swiper-slide-button-area {
  z-index: 11;
  margin-left: 15px;
}

.main-section-visual .main-swiper-slide-button {
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.main-section-visual .main-swiper-slide-button.is--hide {
  display: none;
}

.main-section-visual .main-swiper-slide-button.main-swiper-slide-button--stop {
  background-image: url("../images/main/icon-stop.html");
}

.main-section-visual .main-swiper-slide-button.main-swiper-slide-button--play {
  background-image: url("../images/main/icon-play.html");
}

.premium-section {
  background-color: #738cbb;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../images/main/premium-bg.jpg");
  padding: 0 10.4vw 0 5.2vw;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
}

.premium-section-layout {
  position: relative;
  min-width: 1200px;
  max-width: 1900px;
  margin: 0 auto;
  padding: 23.7vh 0 0 0;
}

.premium-section .premium-section-header {
  position: absolute;
  z-index: 1;
  width: 34%;
  height: 26%;
  margin: 0 0 0 25%;
  text-align: center;
  color: #ffffff;
}

.premium-section .premium-section-header:before {
  width: 1px;
  height: 2.76vw;
  margin: 0 auto 0.78vw auto;
  background: #ffffff;
  display: block;
  content: "";
  opacity: 0.5;
}

.premium-section .premium-section-header .premium-section__title {
  font-size: 1.5625vw;
  font-weight: 300;
}

.premium-section .premium-section-header .premium-section__description {
  font-size: 3.125vw;
  letter-spacing: -0.26vw;
  font-family: "Montserrat", "NotoSansKR", sans-serif, "Malgun Gothic", "맑은 고딕";
  text-transform: uppercase;
  margin-bottom: 1.25vw;
}

.premium-section .premium-section-header .premium-section__more-link {
  font-family: "Montserrat", "NotoSansKR", sans-serif, "Malgun Gothic", "맑은 고딕";
  font-weight: 300;
  letter-spacing: -1px;
  border-bottom: 1px solid #ffffff;
}

.premium-section .premium-list {
  clear: both;
  height: auto;
  overflow: hidden;
  transform: translate3d(0, 100px, 0);
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

.premium-section .premium-list.show {
  opacity: 1;
  transform: translateZ(0);
}

.premium-section .premium-list .premium-item {
  float: left;
  width: 25%;
  padding: 12px;
  box-sizing: border-box;
}

.premium-section .premium-list .premium-item:nth-child(2) {
  width: 75%;
  padding-left: calc(35% + 12px);
  text-align: right;
}

.premium-section .premium-list .premium-item:nth-child(3) {
  clear: both;
}

.premium-section .premium-list figure {
  position: relative;
}

.premium-section .premium-list .premium-item-img-area .premium-item__icon {
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.premium-section .premium-list .premium-item-img-area .premium-item__img {
  width: 100%;
}

.premium-section .premium-list .premium-figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.premium-section .premium-list .premium-figcaption .premium-item-content {
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 1700px) {
  .premium-section .premium-list .premium-figcaption .premium-item-content {
    padding: 5%;
    word-break: keep-all;
  }
}

.premium-section .premium-list .premium-figcaption .premium-item__title {
  font-size: 1.9vw;
  color: #ffffff;
  line-height: 1.19vw;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  opacity: 0;
  transition: all, linear 0.3s;
  font-family: "Montserrat", "NotoSansKR", sans-serif, "Malgun Gothic", "맑은 고딕";
}

.premium-section .premium-list .premium-figcaption .premium-item__title:after {
  position: absolute;
  content: "";
  width: 1.56vw;
  height: 1px;
  left: calc(50% - 15px);
  bottom: 0;
  background-color: #ffffff;
  opacity: 0.5;
}

.premium-section .premium-list .premium-figcaption .premium-item__label {
  text-transform: uppercase;
  line-height: 1.19vw;
  font-size: 0.72vw;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 2px;
  opacity: 0;
  transition: all, linear 0.3s;
  font-family: "Montserrat", "NotoSansKR", sans-serif, "Malgun Gothic", "맑은 고딕";
}

.premium-section .premium-list .premium-figcaption .premium-item__description {
  font-size: 0.88vw;
  letter-spacing: -1.5px;
  color: #ffffff;
  font-weight: 300;
  opacity: 0;
  transition: all, linear 0.3s;
}

.premium-section .premium-list .premium-figcaption:hover .premium-item-content {
  position: relative;
}

.premium-section .premium-list .premium-figcaption:hover .premium-item__title {
  opacity: 1;
  margin: 1vw 0 0;
  padding-bottom: 1.3vw;
}

.premium-section .premium-list .premium-figcaption:hover .premium-item__label {
  opacity: 1;
}

.premium-section .premium-list .premium-figcaption:hover .premium-item__description {
  opacity: 1;
  margin-top: 0.88vw;
}

.premium-section .premium-list .premium-figcaption:hover:before {
  background: rgba(0, 0, 0, 0.4);
  /* opacity:1; */
}

.premium-section .premium-list .premium-figcaption:hover:after {
  top: 10px;
  left: 10px;
  background-color: rgba(36, 67, 115, 0.9);
  opacity: 1;
}

.premium-section .premium-list .premium-figcaption:before,
.premium-section .premium-list .premium-figcaption:after {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  display: block;
  content: "";
  opacity: 0;
  transition: all, linear 0.3s;
}

.customer-section {
  background-size: auto, cover;
  background-repeat: no-repeat;
  background-position: 0 0, 0 90%;
  background-image: url("../images/main/pattern.png"), url("../images/main/customer-bg.jpg");
}

.customer-content-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.customer-content-area {
  padding-top: 6vh;
  width: 73vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-end;
  transform: translate3d(0, 100px, 0);
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.customer-content-area.show {
  opacity: 1;
  transform: translateZ(0);
}

.customer-content-area .customer-content {
  width: 50%;
}

.customer-content-area .customer-content-header {
  padding-right: 4.16vw;
  text-align: right;
}

.customer-content-area .customer-content-text {
  padding: 3.85vw 4.16vw;
  text-align: right;
  background-color: #1e2a5f;
  background-repeat: no-repeat;
  background-position: 0 100%;
}

.customer-content-area .customer-content-text .customer-content__description {
  font-size: 18px;
  letter-spacing: -0.2px;
  color: #ffffff;
  opacity: 0.8;
}

.customer-content-area .customer-content-text .customer-content__button {
  font-size: 18px;
  letter-spacing: -0.1px;
  margin-top: 1.56vw;
  height: 40px;
  display: inline-flex;
  align-items: center;
  color: #c9dbed;
}

.customer-content-area .customer-content-text .customer-content__button:hover {
  animation: arrow 0.5s infinite alternate;
}

.customer-content-area .customer-content-text .customer-content__arrow {
  transform: translateX(0);
  transition: all 0.5s;
  background: url("../images/main/customer-button-arrow.png") no-repeat 100% 50%;
  width: 100px;
  height: 40px;
  display: inline-block;
}

.customer-content-area .customer-content__english {
  font-size: 80px;
  font-family: "Montserrat", "NotoSansKR", sans-serif, "Malgun Gothic", "맑은 고딕";
  color: #1e2a5f;
  letter-spacing: -0.2px;
}

.customer-content-area .customer-content__title {
  font-size: 30px;
  color: #1e2a5f;
  font-weight: 300;
  letter-spacing: -0.5px;
  margin: 0 0 4.68vw;
}

.customer-content-area .customer-content-form {
  height: 100%;
  background: #ffffff;
  padding: 6vh;
  box-sizing: border-box;
}

.customer-content-area .customer-content .input__input {
  height: 50px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #dcdcdc;
  color: #000;
}

.customer-content-area .customer-content .input__input.full {
  width: 100%;
}

.customer-content-area .customer-content .input__input.select-address {
  width: 31%;
  font-size: 15px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/main/select-icon.png") no-repeat 92% 50%;
}

.customer-content-area .customer-content .input__input.select-address::-ms-expand {
  display: none;
}

.customer-content-area .customer-content .input__input.type--radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  border-color: #dcdcdc;
  border-width: 1px;
  width: 15px;
  height: 15px;
}

.customer-content-area .customer-content .input__input.type--radio:checked {
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1c191a;
  background-image: url("../images/common/radio-circle.png");
}

.customer-content-area .customer-content .input-input__label {
  color: #1e2a5f;
  font-weight: 600;
}

.customer-content-area .table {
  font-size: 13px;
}

@-webkit-keyframes arrow {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(30px);
  }
}

@keyframes arrow {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(30px);
  }
}

.section-info {
  overflow: hidden;
}

.section-info.active .bg {
  transform: scale(1);
}

.section-info.active .bg:before {
  transform: translate(-300%, -50%) rotate(720deg);
  transition: all 3s;
}

.section-info.active .text-effect-content {
  transform: translateY(0);
}

.section-info.active .text-effect-content.section-info__main-logo {
  transition-delay: 1s;
}

.section-info.active .text-effect.section-info__main-text .text-effect-content {
  transition-delay: 0.7s;
}

.section-info .bg {
  transform: scale(1.1);
  transition: all 1.5s;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/main/section2-bg.jpg") no-repeat center;
  background-size: cover;
}

.section-info .fp-tableCell {
  display: flex;
  flex-wrap: wrap;
}

.section-info .section-info-contents {
  perspective: 1000px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.section-info .section-info-content {
  padding-top: 28.86vh;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  transition: all 1s;
  text-align: center;
  height: 100%;
}

.section-info .section-info-content.section-info-text2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100vh;
  padding-top: 60px;
  background-color: rgba(49, 53, 65, 0.9);
  background-image: url("../images/main/pattern.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.section-info .section-info__sub-text {
  color: #ffffff;
  font-size: 1.56vw;
  line-height: 1.8vw;
  font-weight: 300;
  letter-spacing: -1px;
}

.section-info .section-info__main-text {
  color: #ffffff;
  font-size: 3.33vw;
  line-height: 4.16vw;
  font-weight: 400;
  margin-top: 10px;
  letter-spacing: -3px;
  margin-bottom: 3.48vw;
}

.section-info .section-info__main-text b {
  font-weight: 600;
}

.section-info .section-info__bottom-text {
  letter-spacing: 10px;
  font-size: 18px;
  font-family: "Montserrat", "NotoSansKR", sans-serif, "Malgun Gothic", "맑은 고딕";
  color: #ffffff;
  opacity: 0.3;
  bottom: 6.18vh;
  position: absolute;
  width: 100%;
  left: 0;
}

.section-info .section-info__bottom-text * {
  font: inherit;
}

.section-info .section-info__bottom-text .text-effect-content {
  transition-delay: 1.3s;
}

.section-info .info-wrap {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 11vh 5.2vw 11vh 256px;
  color: #fff;
  box-sizing: border-box;
}

@media screen and (max-width: 1600px) {
  .section-info .info-wrap {
    padding: 140px 40px 174px 40px;
  }
}

.section-info .info-thumb-list {
  position: relative;
  float: left;
  width: 44.9%;
}

.section-info .info-thumb-list:after {
  content: "";
  display: block;
  padding-top: 71.9%;
}

.section-info .info-thumb-list:before {
  content: "";
  position: absolute;
  left: -70px;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.section-info .info-thumb-list .crop {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-size: auto 100%;
  background-position: right top;
  background-repeat: no-repeat;
}

.section-info .info-thumb-list .thumb-prev {
  position: absolute;
  left: -100%;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(1px, -107px);
  -ms-transform: translate(1px, -107px);
  transform: translate(1px, -107px);
}

.section-info .info-thumb-list .thumb-prev .crop {
  background-position: left top;
}

.section-info .info-thumb-list .thumb-prev img {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.section-info .info-thumb-list .thumb {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(52px, 54px);
  -ms-transform: translate(52px, 54px);
  transform: translate(52px, 54px);
}

.section-info .info-thumb-list .thumb .img {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.section-info .info-thumb-list .thumb .img img {
  height: 100%;
  max-width: inherit;
}

.section-info .info-thumb-list .active .thumb,
.section-info .info-thumb-list .active .thumb-prev {
  z-index: 10;
}

.section-info .info-thumb-list .active-prev .thumb,
.section-info .info-thumb-list .active-prev .thumb-prev {
  z-index: 11;
  width: 0;
  -webkit-transition: width 0s ease 0.8s;
  transition: width 0s ease 0.8s;
}

.section-info .info-thumb-list .active-prev .thumb-prev .crop {
  right: 100%;
  -webkit-transition: right 0.8s ease;
  transition: right 0.8s ease;
}

.section-info .info-thumb-list .active-prev .thumb .crop {
  left: 100%;
  -webkit-transition: left 0.8s ease;
  transition: left 0.8s ease;
}

.section-info .info-text {
  float: right;
  width: 47%;
  padding: 46px 0 0 0;
  box-sizing: border-box;
}

.section-info .info-list {
  position: relative;
  z-index: 10;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-info .info-list .info-item {
  padding-left: 2.7vw;
  opacity: 0 !important;
  -webkit-transition: opacity 0.8s ease;
  transition: opacity 0.8s ease;
  text-align: left;
  box-sizing: border-box;
}

.section-info .info-list .info-item3 .info-item__img {
  right: 5vw;
  top: 2vw;
}

.section-info .info-list .swiper-notification {
  display: none;
}

.section-info .info-list .info-item.swiper-slide-active {
  opacity: 1 !important;
}

.section-info .info-list .info-item:after {
  content: "";
  display: block;
  clear: both;
}

.section-info .info-list .info-item__img {
  margin-left: auto;
  display: block;
  position: absolute;
  right: 8vw;
}

.section-info .info-list .info-item__subject {
  display: block;
  margin-bottom: 0.83vw;
  font-size: 2.23vw;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: -2px;
  margin-top: 17.4vh;
}

.section-info .info-list .info-item__description {
  float: left;
  font-size: 1.14vw;
  line-height: 1.82vw;
  opacity: 0.6;
  color: #ffffff;
  box-sizing: border-box;
  letter-spacing: -1.5px;
  font-weight: 300;
}

.section-info .swiper-button-area {
  position: relative;
  padding-left: 2.7vw;
  margin-top: 60px;
}

.section-info .swiper-button {
  position: absolute;
  left: 120px;
  top: 0;
  z-index: 10;
  width: 30px;
  height: 30px;
}

.section-info .swiper-button--prev {
  left: 54px;
}

.sub {
  position: relative;
  overflow-x: hidden;
}

.sub .header-tel {
  background-image: url("../images/common/header-tel.png");
}

.sub-top-bg {
  width: 100%;
  position: relative;
  padding-top: 150px;
  height: 510px;
  z-index: 10;
  background-image: url("../images/sub/sub-top-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  box-sizing: border-box;
  background-color: #c9dbed;
}

.sub-top-bg .sub-top__description {
  position: relative;
  text-align: left;
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  transition-property: opacity, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
}

.sub-top-bg .sub-top__description.is--active {
  opacity: 1;
  transform: translateZ(0);
}

.sub-top-bg .pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 31.35vw;
  height: 510px;
  background-size: contain;
  background-image: url("../images/sub/pattern.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  pointer-events: none;
}

.sub .sub-top-menu {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  opacity: 0;
  box-sizing: border-box;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(30, 42, 95, 0.2);
}

.sub .sub-top-menu__item {
  letter-spacing: -0.5px;
  font-size: 16px;
  color: #1e2a5f;
}

.sub .sub-top-menu__item+.sub-top-menu__item:before {
  content: "";
  width: 1px;
  height: 20px;
  background: #d9d9d9;
  opacity: 0.3;
  display: inline-block;
  margin: 0 30px;
  vertical-align: middle;
}

.sub .sub-top-menu__item.is--active {
  color: #cadbed;
  font-weight: bold;
}

.sub .sub-top-menu .sub-menu-depth-area {
  float: left;
}

.sub .sub-top-menu .sub-menu-home__icon {
  float: left;
  width: 32px;
  height: 48px;
  margin-right: 20px;
  background: url("../images/sub/icon-sub-menu.png") no-repeat center;
}

.sub .sub-top-menu .sub-menu-home__link {
  display: block;
  height: 100%;
}

.sub .sub-top-menu .sub-menu .sub-menu-depth {
  float: left;
  width: 220px;
  height: 48px;
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-image: url("../images/sub/sub-dropdown-arrow.png");
  padding-left: 20px;
  font-size: 16px;
  letter-spacing: -1px;
  color: #1e2a5f;
  box-sizing: border-box;
  position: relative;
  line-height: 48px;
  font-weight: 500;
}

.sub .sub-top-menu .sub-menu .sub-menu-depth:after {
  content: "";
  display: block;
  height: 19px;
  width: 1px;
  background-color: rgba(30, 42, 95, 0.2);
  position: absolute;
  left: 0;
  top: 14px;
}

.sub .sub-top-menu .sub-menu .sub-menu-depth+.sub-menu-depth:after {
  left: 5px;
}

.sub .sub-top-menu .sub-menu .sub-menu-depth-list {
  display: none;
}

.sub .sub-top-menu .sub-menu .sub-menu-depth:hover .sub-menu-depth-list {
  display: block;
  position: absolute;
  top: 42px;
  left: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
}

.sub .sub-top-menu .sub-menu .sub-menu-depth:hover .sub-menu-depth__item {
  width: 218px;
  height: 48px;
  border-top: 1px solid #d9d9d9;
}

.sub .sub-top-menu .sub-menu .sub-menu-depth:hover .sub-menu-depth__link {
  display: block;
  height: 100%;
  padding-left: 14px;
  background: #fff;
  font-size: 15px;
  color: #444;
  line-height: 48px;
}

.sub .sub-top-menu .sub-menu .sub-menu-depth:hover .sub-menu-depth__link:hover {
  color: #244373;
}

.sub-content-area {
  min-height: 300px;
  padding: 0 0 155px;
  max-width: 1200px;
  margin: 190px auto 0;
  width: 100%;
  position: relative;
}

.sub-content-content {
  text-align: center;
}

.sub-content-header {
  margin-bottom: 84px;
}

.sub-content__title {
  font-size: 26px;
  letter-spacing: -1px;
  color: #1e2a5f;
  font-weight: normal;
}

.sub-content__title-english {
  color: #1e2a5f;
  font-family: "Montserrat", "NotoSansKR", sans-serif, "Malgun Gothic", "맑은 고딕";
  font-size: 48px;
  letter-spacing: -1.98px;
  text-transform: capitalize;
}

.sub-content__title-english div {
  font: inherit;
  color: inherit;
}

.sub-content__title div {
  font: inherit;
  color: inherit;
}

.interest-text-area {
  padding-top: 1vh;
}

.interest-text-area.half {
  width: 48%;
}

.interest-agreement__title {
  font-size: 17px;
  color: #1e2a5f;
  font-weight: normal;
  letter-spacing: -0.4px;
  padding-bottom: 10px;
}

.interest-agreement-content {
  border: 1px solid #dcdcdc;
  padding: 15px;
  color: #333;
  height: 12.37vh;
  overflow-y: scroll;
  font-size: 14px;
  box-sizing: border-box;
}

.interest__description {
  font-size: 14px;
  color: #999999;
  padding-top: 15px;
  padding-bottom: 15px;
}

.agreement-check-area {
  display: flex;
  align-items: center;
  color: #222;
  margin-top: 8px;
}

.agreement-check-area .agreement-check-part {
  padding: 0 10px 0;
  display: flex;
  align-items: center;
}

.agreement-check-area .agreement-check-part .input__label {
  margin-left: 5px;
  font-weight: 600;
  font-size: 13px;
}

.contract-input-area {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.input-input__label {
  display: block;
  color: #757575;
  letter-spacing: -0.4px;
  font-weight: 600;
  margin-bottom: 0.8vh;
}

.interest-input-area {
  display: flex;
  justify-content: space-between;
}

.visit__description {
  font-size: 14px;
  color: #999999;
  padding-top: 15px;
  padding-bottom: 15px;
}

.visit-table-area {
  margin-top: 380px;
}

.visit-result-area {
  display: none;
}

.visit-result__data {
  font-size: 17px;
  font-weight: normal;
}

.visit-time__item {
  display: block;
  text-align: center;
  padding: 10px;
  width: 100%;
  color: #ffffff;
  background: #001236;
}

.visit-time__item+.visit-time__item {
  margin-top: 8px;
}

.visit-time__item:hover,
.visit-time__item.is--active {
  cursor: pointer;
  background: #001236;
}

.visit-time__item.is--disabled {
  background: #d1d0d0;
  opacity: 0.5;
}

.visit-time__item.is--disabled:hover {
  cursor: default;
}

.tui-datepicker.custom {
  border: 1px solid #ccc;
  display: block;
}

.tui-datepicker.custom .tui-datepicker-type-date,
.tui-datepicker.custom .tui-calendar {
  width: 576px;
}

.tui-datepicker.custom .tui-calendar .tui-calendar-body-inner {
  font-size: 14px;
}

.tui-datepicker.custom .tui-calendar .tui-calendar-body-header th:not(.tui-sun, .tui-sat) {
  color: #333;
  font-weight: 600;
}

.tui-datepicker.custom .tui-calendar .tui-is-selectable {
  color: #222;
}

.tui-datepicker.custom .tui-calendar .tui-sun,
.tui-datepicker.custom .tui-calendar .tui-calendar-sun:not(.tui-is-blocked) {
  color: red;
}

.tui-datepicker.custom .tui-calendar .tui-sat,
.tui-datepicker.custom .tui-calendar .tui-calendar-sat:not(.tui-is-blocked) {
  color: blue;
}

.tui-datepicker.custom .tui-calendar .tui-is-selected {
  color: #ffffff !important;
  background: #001236;
}

.tui-datepicker.custom .tui-calendar-btn-prev-month,
.tui-datepicker.custom .tui-calendar-btn-next-month {
  display: block !important;
}


/*메인 3월오픈배너*/
.main-visaul-banner {
  position: absolute;
  z-index: 11;
  background-color: #fff;
  padding: 1rem 2rem;
  right: 5.2vw;
  top: 135px;
}

/*sub-page-notice*/
.page_info {
  width: 100%;
  color: #888;
  padding: 1rem 2rem;
  border: 1px solid #d1d1d1;
  margin: 4rem auto 0;
  letter-spacing: -.04rem;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.page_info li {
  font-size: 14px;
  color: #878787;
  line-height: 1.1rem;
}

.page_info li+li {
  margin-top: 10px;
}

.page_info LI:before {
  content: "※";
  display: inline-block;
  margin-right: .1rem;
  color: #878787;
  font-size: 14px;
}

/*단지소개*/
.gallery-slide-nav {
  width: 80%;
  margin: 25px auto;
}

.gallery-slide-nav.slick-slider {
  margin-bottom: 63px;
}

.gallery-slide .slick-slide img {
  margin: auto;
}

.gallery-slide-nav.slick-slider .slick-arrow {
  position: absolute;
  width: 20px;
  height: 38px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
}

.gallery-slide-nav.slick-slider .slick-prev {
  left: -90px;
  font-size: 0;
  margin-top: -25px;
}

.gallery-slide-nav.slick-slider .slick-prev:after {
  content: "\e875";
  font-family: 'Linearicons-Free';
  font-size: 90px;
  line-height: 90px;
  font-weight: 100;
  color: #1e2a5f;
}

.gallery-slide-nav.slick-slider .slick-next {
  right: -28px;
  font-size: 0;
  margin-top: -25px;
}

.gallery-slide-nav.slick-slider .slick-next:after {
  content: "\e876";
  font-family: 'Linearicons-Free';
  font-size: 90px;
  line-height: 90px;
  font-weight: 100;
  color: #1e2a5f;
}

.gallery-slide-nav .slick-slide {
  transition: all .2s;
}

.gallery-slide-nav .slick-slide.slick-current .gallery-slide-nav__item img {
  border: 3px solid #1e2a5f;
}

.gallery-slide-nav .slick-slide {
  margin-right: 10px;
}

.gallery-slide-nav__item:after {
  content: "";
  display: block;
  clear: both;
}

.gallery-slide-nav__item {
  width: 300px;
  margin-right: 20px;
}

.gallery-slide-nav__item img {
  width: 300px;
}

/*서브페이지 바로가기 버튼*/
.supply-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  height: 50px;
  font-weight: 500;
  letter-spacing: -0.05rem;
  color: #fff;
  background: #1e2a5f;
  margin: 5rem auto 5rem;
  padding: 0 20px;
  border-radius: 30px;
}

.supply-btn span {
  color: #fff;
}

.supply-btn img {
  height: 25px;
}

.supply-btn:hover span {
  color: #fff;
}

.supply-btn .lnr-download {
  font-size: 22px;
}

/*팝업*/
.popvideo {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  display: none;
}

.popvideo .pop_wrap {
  position: relative;
  width: 1000px;
  height: 600px;
  margin: 50px auto 0;
}

.popvideo span {
  position: absolute;
  left: 50%;
  top: 40px;
  margin-left: -24px;
}

.popvideo span a {
  display: block;
  position: relative;
  padding-bottom: 35px;
  text-align: center;
  color: #fff;
}

.popvideo span * {
  vertical-align: middle;
}

.popvideo span a i::after {
  content: "\e870";
  display: inline-block;
  font-family: Linearicons-Free;
  font-size: 30px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 15px;
}

.video_con {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
}

.video_con iframe {
  position: absolute;
  top: 12%;
  left: 0;
  width: 100%;
  height: 56.25%;
}

#layerScreen {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  filter: Alpha(opacity=30);
  opacity: 0.3;
  -moz-opacity: 0.3;
  display: none;
}

/*추가*/
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: 8rem;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}