/*탭메뉴1*/
.tabs {
	width: 100%;
	margin: 0 auto 6rem;
	display: flex;
	justify-content: center;
}
.tabs:after {content: ""; display: block; clear: both;}
.tabs li {
	width: 25%;
	text-align: center;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	line-height: 4rem;
	font-size: 1.25rem;
	font-weight: 300;
	color: #244473;
	cursor: pointer;
	-webkit-transition: background .5s ease;
	-moz-transition: background .5s ease;
	-ms-transition: background .5s ease;
	-o-transition: background .5s ease;
	transition: background .5s ease;
}
.tabs li + li {
	margin-left: 10px;
}
.tabs li:hover {
	background: #244473; color: #fff;
}

.tabs li a{display: block;line-height: 3rem;}
.tabs li.current  {
	color: #fff;
	background: #244473;
}

.type-title {font-size: 1.8rem; color: #333; line-height: 2.4rem; text-align: center; font-weight: 500}
.paid-wrap {width: 100%; max-width: 1200px; font-size: .88rem; color: #888; line-height: 1.4rem; padding: 1rem 2rem; border: 1px solid #d1d1d1; margin: 1rem auto 4rem;}
.paid-wrap H3 {font-size: .88rem; color: #de2856; line-height: 1.4rem; display: inline-block; margin-right: 1rem;}
.paid-wrap H3.paid {color: #4372c1;}
.paid-wrap SPAN:before {content: ','; display: inline-block; margin-right: .3rem;}
.paid-wrap SPAN.none:before {content: none; display: inline-block; margin-right: 0rem;}


.tab-area{display: none;}
.tab-area.current{display: inherit; clear:both;}
.tab-area IMG {display: block;}

.tab-content{width: 100%; max-width: 1200px; margin: 0 auto; display: none;}
.tab-content.current{display: inherit; clear:both;}
.tab-content IMG {display: block;}

/*버튼2개일때*/
.tabs.tab-style2 li {width: 50%;}

ul.floor-tabs li {
	border: 1px solid #e7e7e7;
	color: #666;
}
.tabs2.floor-tabs li:nth-child(1):hover {
	background: #5fc2c7;
}
.tabs2.floor-tabs li:nth-child(2):hover {
	background: #ef7951;
}
.tabs2.floor-tabs li:nth-child(3):hover {
	background: #6abd79;
}
.tabs2.floor-tabs li:nth-child(4):hover {
	background: #ec6d74;
}
.tabs2.floor-tabs li:nth-child(5):hover {
	background: #a67fb8;
}
.tabs2.floor-tabs li:nth-child(6):hover {
	background: #a67fb8;
}
ul.floor-tabs li:nth-child(1).current {background: #5fc2c7;}
ul.floor-tabs li:nth-child(2).current {background: #ef7951;}
ul.floor-tabs li:nth-child(3).current {background: #6abd79;}
ul.floor-tabs li:nth-child(4).current {background: #ec6d74;}
ul.floor-tabs li:nth-child(5).current {background: #a67fb8;}
ul.floor-tabs li:nth-child(6).current {background: #a67fb8;}


/*탭메뉴2*/
.tabs2 {
	width: 100%;
	margin: 4rem auto;
	display: flex;
	justify-content:center;
}
.tabs2:after {content: ""; display: block; clear: both;}
.tabs2 li {
	width: 25%;
	text-align: center;
	line-height: 3rem;
	font-size: 1rem;
	color: #244473;
	letter-spacing: -1px;
	cursor: pointer;
	background: #fff;
	border: 1px solid #e7e7e7;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: background .5s ease;
	-moz-transition: background .5s ease;
	-ms-transition: background .5s ease;
	-o-transition: background .5s ease;
	transition: background .5s ease;
}

.tabs2 li:hover {
	background: #244473; color: #fff;
}
.tabs2 li.current {background: #244473; color: #fff;}

.tabs2 li a{display: block;line-height: 3rem;}
.tabs2 li.current a {color: #fff;}

ul.unit-tabs2 li {
	border: 1px solid #e7e7e7;
	color: #666;
}
.tabs2.unit-tabs2 li:nth-child(1):hover {
	background: #a7d282;
}
.tabs2.unit-tabs2 li:nth-child(2):hover {
	background: #f6af5f;
}
ul.unit-tabs2 li:nth-child(1).current {background: #a7d282;}
ul.unit-tabs2 li:nth-child(2).current {background: #f6af5f;}

ul.display-button {
	display:flex;
	justify-content:flex-end;
	margin-bottom: 2vw;
}
ul.display-button li {
	display: flex;
	width: 20%;
	justify-content: center;
	align-items: center;
	height: 5vh;
	padding: 0 15px;
	background: #eaeef5;
	color: #294670;
	border: 1px solid #294670;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}


/*평형 탭*/
.unit-tab-content{display: none;}
.unit-tab-content.current{display: inherit; clear:both;}
.unit-tab-content IMG {display: block;}

.unit-content .tabs {
	width: 100%;
	margin: 0;
	justify-content:flex-start;
	gap:5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.unit-content .tabs li {
	width: calc(25% - 2px);
	background: #f7f7f7;
	border:none;
	font-size: 18px;
  color: #294670;
}
.unit-content .tabs li + li {
	margin-left: 0;
}
.unit-content .tabs li a:hover {
	background: #294670;
	color: #fff;
}
.unit-content .tabs li.current {
	color: #fff;
  background: #294670;
}

ul.unit-tab {	
	width: 60%;	
	margin: auto;	
	display: flex;	
	justify-content: center;	
	padding: 8vh 0;	
	gap:5px;
	-webkit-box-sizing: border-box;	
	-moz-box-sizing: border-box;	
	box-sizing: border-box;	
	font-weight: 600;
}	
ul.unit-tab li {	
	display:flex;	
	width: calc(25% - 10px);
	justify-content:space-between;	
	align-items:center;	
	margin-bottom:5px;
	height: 5vh;	
	padding: 0 10px;	
	background: none;	
	color:  #294670;
	-webkit-box-sizing: border-box;	
	-moz-box-sizing: border-box;	
	box-sizing: border-box;	
	border: 1px solid #294670;	
	cursor: pointer;	
	border-radius : 10px;
}	
ul.unit-tab li img {max-width: 15%;}

ul.unit-tab li.current {background: #eaeef5;}	

.subscription_info-content .tabs2, .document-content .tabs2 {
	flex-wrap:wrap;
}

/*버튼 공통*/
.link_btn_wrap { 
	position: relative; 
	overflow: hidden; 
	margin: 30px 0;
	display: flex;
	justify-content: center;
	gap: 10px;
}
.link_btn_wrap > div { 
	display: inline-block;
	margin: 0 10px; 
}
.link_btn { 
	position: relative;
	display: table; 
	width: 300px;
	height: 60px;
	text-align: center;
	background: #eaeef5; 
	border: 1px solid #244473;
}
.link_btn .btn_text { 
	position: relative; 
	width: 100%; 
	display: table-cell; 
	vertical-align: middle; 
	font-size: 16px; 
	z-index: 1; 
	color: #244473; 
}
.link_btn:hover .btn_text { 
	color: #fff; 
}
.link_btn .btn_bg { 
	position: absolute; 
	left: 0; 
	top: 0; 
	width: 0; 
	height: 100%; 
	opacity: 0;
}
.link_btn:hover .btn_bg { 
	opacity: 1; 
	width: 100%; 
	-webkit-transition: all 0.2s; 
	-moz-transition: all 0.2s; 
	-o-transition: all 0.2s; 
	-ms-transition: all 0.2s; 
	transition: all 0.2s; 
	background-color: #244473;
}
